@keyframes happyHeart {
  0% { transform: scale(1) rotate(0deg); }
  25% { transform: scale(1.1) rotate(-5deg); }
  50% { transform: scale(1.2) rotate(5deg); }
  75% { transform: scale(1.1) rotate(-5deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.heart {
  font-size: 60px;
  color: red;
  display: inline-block;
  animation: happyHeart 0.8s infinite;
  cursor: pointer;
  user-select: none;
}
h1{
    color: aliceblue;
}
